extends base

block append head 
  link(rel="stylesheet" href="/css/all-users.css")


block content 
  .container
    h1 All Users
    table.user-table
      thead
        tr
          th #
          th User Name
          th Associated Courses
          th Actions
      tbody
        each user, index in users
          tr
            td #{index + 1}
            td= user.name
            td 
              each course in user.associatedCourse
                p #{course.courseName} (#{course.courseCode}) - Credits: #{course.credits}

            td
              if !courseId
                button#btn-course-assign-all-user.btn.btn-assign(data-user-id=`${user._id}`) Details

              else
                button#btn-course-assign-all-user.btn.btn-assign(data-course-id=`${courseId}` data-user-id=`${user._id}`) Assign
              button.btn.btn-delete Delete